<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- logging configurations -->
	<bean id="myLoggerConfig" class="LoggerFiles.MyLoggerConfig"	init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	<!-- logging configurations -->

   <!-- .properties files -->
    <context:property-placeholder location="classpath:sport.properties"/> 
   <!--end of .properties files -->
	
	<!-- Define your beans here -->

	<bean id="baseBallCoach" class="com.pushpak.springdemo.coach.BaseBallCoach">
	<!-- set up setter Injection -->
    <property name="forturneService" ref="luckyFortune"/>
    
    <!--  Literal Injections -->
    <property name="team" value ="${foo.team}"/>
     <property name="email" value ="${xyz.email}"/>
      <property name="coachName" value ="Rocky"/>
    
	</bean>

	<bean id="cricketCoach" class="com.pushpak.springdemo.coach.CricketCoach">
	<!-- Constructor Injection -->
	<constructor-arg ref="luckyFortune"/>
	</bean>
	
	<bean id="luckyFortune" class="com.pushpak.springdemo.fortuneServices.LuckyFortune">
	</bean>
	
<!-- Define your beans here -->

</beans>