<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- logging configurations -->
	<bean id="myLoggerConfig" class="LoggerFiles.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	<!-- logging configurations -->

<!-- local property files  -->
<context:property-placeholder location="classpath:sport.properties"/>

	<!-- define dependency -->
	<bean id="happyFortune"
		class="com.pushpak.springdemo.Fortune.HappyFortuneServiece" />
   <bean id="randomFortune"
		class="com.pushpak.springdemo.Fortune.RandomFortuneService" />


	<!-- Define your beans here -->

	<bean id="baseBallCoach"
		class="com.pushpak.springdemo.Coach.BaseBallCoach">
		<!-- set up CONSTUCTOR INJECTION -->
		<constructor-arg ref="randomFortune"/> 
	</bean>

	<bean id="cricketCoach"
		class="com.pushpak.springdemo.Coach.CricketCoach">
		
		<!-- set up SETTER INJECTION -->
		<property name="fortuneService" ref="happyFortune"/>
		
		<!-- set up LITERAL INJECTION -->
		<property name="team" value="Mumbai Indians"/>
		<property name="emailAddress" value="coach1234@cricket.com"/>
		
		<!-- set up LITERAL INJECTION using property file -->
 		<property name="city" value="${foo.city}"/> 
 		<property name="phone" value="${foo.phone}"/> 
	</bean>

</beans>





