<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

<!-- load properties file (sport.properties) -->
  <context:property-placeholder location ="classpath:sport.properties"/>

<!-- logging configurations -->
 <bean id="myLoggerConfig" class="LoggerFiles.MyLoggerConfig" init-method="initLogger">
    	<property name="rootLoggerLevel" value="FINE" />
    	<property name="printedLoggerLevel" value="FINE"/>
    </bean>
	
	

    <!-- Define your beans here -->
    
    <!-- define the dependency -->
    <bean
    id="myFortune"
    class="com.pushpak.springdemo.Fortune.HappyFortuneService"
    />

    <!-- practice activity #2 -->
    <bean
    id="randomFortune"
    class="com.pushpak.springdemo.Fortune.PracticeFortune"
    />
        
    <bean
    id="baseBallCoach"
    class="com.pushpak.springdemo.Coach.BaseBallCoach"
    >
    <constructor-arg ref="randomFortune"/>
    </bean>
    
    <bean
    id="cricketCoach"
    class="com.pushpak.springdemo.Coach.CricketCoach"
    >
    <!-- set up setter Injection -->
    <property name="forturneService" ref="myFortune"/>
    
    <!-- for Literal Injection -->
    <property name="email" value="xyz@email.com"/>
    
    <!-- for literal injection (taking values from property file) -->
    <property name ="team" value="${foo.team}"/>
    
    </bean>
    
</beans>





